.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px; /*top & bottom] [left & right]*/
    background: white;
}

.menu{
    display: flex;
    gap: 20px;
}

.menu a{
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover{
    color: #333;
}

.menu a:focus{
    color: #555;
}

.menu a:active{
   color: #777;

}

.menu a:visited{
   color: #999;
}

