<nav class="navbar">
 <div class="logo">
   <img src="app\logo.png"  alt="logo"/>
 </div>
 <div class="menu">
   <ul>
    <li class="menu-item">
        <span class="menu-link disabled"> Admin Panel </span>
    </li>
   
    <li class="menu-item">
       <a href="/admin-dashboard/user-management"> <i class="bi bi-people"></i> Users </a>
    </li>

    <li class="menu-item">
       <a href="/admin-dashboard/analytics">  <i class="bi bi-bar-chart"></i> Dashboard  </a>
    </li>

    <li class="menu-item">
       <a href="/admin-dashboard/settings"> <i class="bi bi-gear"></i> Settings  </a>
    </li>

    <li class="menu-item">
       <a href="/admin-dashboard/system-monitoring"> <i class="bi bi-speedometer2"></i> Monitor </a>
    </li>

    <li class="menu-item">
       <a href="/user-jobs-list">  <i class="bi bi-list"></i> Job-List  </a>
    </li>
    <li>  
      <a href="/logout">  <i class="bi bi-door-open"></i> Logout  </a>
    </li>
     
   </ul>
 </div>

</nav>

