<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <div class="manage">
    <div class="manage-navbar">
           <AdminNavbar />
    </div>
    <div class="manage_1"> 
     <div class="manage_2">
     <h1  class="manage_heading">Team Members</h1>
     <button class="add-user-btn" (click)="openAddUserForm()">
          <i class="bi bi-person-plus me-1"></i> Add User
     </button>
     <div class="manage_3">
       <table class="manage_table">
        <thead class="manage_thead">
            <tr>
              {/* to preserve numbering when delete */}
              <th class="manage_th">Index</th>
              <th class="manage_th">ID</th>
              <th class="manage_th">Name</th>
              <th class="manage_th">Email</th>
              <th class="manage_th">Role</th>
            </tr>
        </thead>
        <tbody>
            <tr key={user.id} class="hover:bg-gray-50" *ngFor="let user of users">
              <td class="manage_td">{index+1}</td>
              <td class="manage_td">{user.id}</td>
              <td class="manage_td">{user.name}</td>
              <td class="manage_td">{user.email}</td>
              <td class="manage_td">{user.role}</td>
              <td>
                {/*View */}
                <button 
                  class="btn_view"
                  (click)={View(user)}>
                  <i class="bi bi-eye"></i>
                </button>
                {/*Edit */}
                <button
                  class="btn_edit"
                  (click)={Edit(user)}>
                  <i class="bi bi-pencil-square"></i>
                </button>
                 {/*Delete */}
                <button
                  class="btn_del"
                  (click)={DeleteUser(user.id)}>
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
        </tbody>
      </table>
     </div>

     <!--Add-->
    <div class="add-form"  *ngIf="mode === 'add'">
          <div class="edit-form_1">
          <h2  class="edit-form_heading">Edit Member</h2>  
          <form #addForm="ngForm" (ngSubmit)="AddUser()" class="space-y-3">

          <div style="margin-bottom: 10px;">
            <label class="edit-form_label">Name:</label>
            <input
              class="edit-form_input"  [(ngModel)]="user.name"  placeholder="Name"  />
          </div>

          <div style="margin-bottom: 10px;">
            <label class="edit-form_label">Email:</label>
            <input
              class="edit-form_input"
              [(ngModel)]="user.email"  placeholder="Email" />
          </div>

    <!--Edit-->
    <div class="edit-form"  *ngIf="mode === 'edit'">
          <div class="edit-form_1">
          <h2  class="edit-form_heading">Edit Member</h2>  
          <form #editForm="ngForm" (ngSubmit)="EditUser(user.id)" class="space-y-3">

          <div style="margin-bottom: 10px;">
            <label class="edit-form_label">Name:</label>
            <input
              class="edit-form_input"  [(ngModel)]="user.name"  placeholder="Name"  />
          </div>

          <div style="margin-bottom: 10px;">
            <label class="edit-form_label">Email:</label>
            <input
              class="edit-form_input"
              [(ngModel)]="user.email"  placeholder="Email" />
          </div>

          <div style="margin-bottom: 10px;">
            <label class="edit-form_label">Employment Type:</label>
            <input
             class="edit-form_input"
             [(ngModel)]="user.role" placeholder="Role"/>
          </div>
           
         <div class="edit-form_input_buttons">
              <button type="submit"  class="edit-form_input_button1" >
                     <i class="bi bi-check-circle"></i>
                Save
              </button>
           
              <button
                type="button"
                (click)={backToList()}
                class="edit-form_input_button2">
                 <i class="bi bi-x-circle"></i>
                Cancel
             </button>
         </div>
        </form>
        </div>
      </div>
  
     <!--View-->
      <div class="view-form"  *ngIf="mode === 'view'">
        <div class="view-form_1">
          <div class="view-form_2">
              <p>{index + 1}</td>
              <p>{user.id}</td>
              <h2 style="font-weight: 600;  font-size: 1.25rem;  margin-bottom: 1rem;">{user.name}</h2>
              <p>{user.email}</p>
              <p>{user.role}</p>
            <button type="button" (click)={backToList())} class="view-form_input_button">
              <i class="bi bi-x-lg"></i>
              Back
            </button>
          </div>
        </div>
     </div>
    </div>
  </div> 
</body>
</html>